<style>
    .input
    {
      width:400px;
    }
    .form-field
    {
      margin-left: 160px;
      font-size:21px;
    }
    .btn
    {
      margin:0px auto;
      width:300px;
      border-radius: 150px 20px 150px 20px;
    }
    
    </style>
<h3 style="margin-top:20px;margin-left:-400px; text-align: center; background: #000;color:#fff;border-radius: 150px 20px 150px 20px;width: 350px;padding: 5px;">Candidate Region Update Record</h3>
<div style="width: 800px;">
  
  <% for(var i=0 ; i < candidateregion.length; i++) { %>
    <div class="error"><%= errors[i] %></div>
    <% } %>
  </div>
  <div style="width:800px;">
    
    <form action="/CandidateRegion_added_c" method="post">
      <div class="form-field">
        
        <input class="input" placeholder=" Enter Candidate CNIC"  type="text" class="form-control" value="<%= candidateregion.VoterID %>" name="cnic" required>
      </div>
      <div class="form-field">
          
          <input class="input" placeholder="Enter Region No" type="text" class="form-control" value="<%= candidateregion.RegionNo %>" name="regionno" required>
        </div>
       <input type="hidden" value="<%= candidateregion._id %>" name="id">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>