<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" />

<title>Deshboard</title>

</head>

<body style="margin:0px auto;">
<div class="main">
<div class="header">

</div>
<h2 style="margin:30px auto; width:600px;">Welcome to Hyper ledger  fabcar smart contract  interface </h2>
<div class="content" >
<ul>
<li><a  href="/user">List All Cars</a></li>
<li ><a href="registration.html">Query Single Car</a></li>
<li><a  href="result.html">Add New Car</a></li>
</ul>
</div>

<!------------------------------Content------------------------->





</div>
</body>
</html>
