<style>
    .input
    {
      width:400px;
    }
    .form-field
    {
      margin-left: 160px;
      font-size:21px;
    }
    .btn
    {
      margin:0px auto;
      width:300px;
      border-radius: 150px 20px 150px 20px;
    }
    
    </style>
    
    <div style="width: 800px;">
      
    </div>
    <div style="width:800px;">
      <h3 style="margin-top:20px; text-align: center; background: #000;color:#fff;border-radius: 150px 20px 150px 20px;width: 260px;padding: 5px;">Face Dataset Update Deatils</h3>
      <form action="/facedataset_update_c" method="post">
        <div class="form-field">
          
          <input class="input" placeholder="Enter CNIC" type="text" class="form-control" value="<%= voters.VoterID %>" name="cnic" required>
        </div>
        <div class="form-field">
          
          <input class="input" placeholder="Enter Voter Name" type="text" class="form-control" value="<%= voters.VoterName %>" name="name" required>
        </div>
        
        <div class="form-field">
            <input class="input" placeholder="Data Set Path" type="text" class="form-control" value="<%= voters.DatasetPath %>" name="path" required>
          </div>
        
        <input type="hidden" name="id" value="<%= voters._id %>">
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>