<div class="status">
    <div id="status_sub1">Step 1</div>
    <div id="status_sub2">Step 2</div>
    <div id="status_sub3">Step 3</div>
    <div id="status_sub4">Step 4</div>
    <div id="status_sub5">Final</div>
  </div>
  <script>
      document.getElementById("status_sub1").style.color = "#FAC101";
     document.getElementById("status_sub1").style.background = "#0F2F1D";
    
     document.getElementById("status_sub1").style.border = "solid #FAC101";
     document.getElementById("status_sub2").style.color = "#FAC101";
       document.getElementById("status_sub2").style.background = "#0F2F1D";
      
       document.getElementById("status_sub2").style.border = "solid #FAC101";
       document.getElementById("status_sub3").style.color = "#FAC101";
       document.getElementById("status_sub3").style.background = "#0F2F1D";
      
       document.getElementById("status_sub3").style.border = "solid #FAC101";
       document.getElementById("status_sub4").style.color = "#FAC101";
       document.getElementById("status_sub4").style.background = "#0F2F1D";
      
       document.getElementById("status_sub4").style.border = "solid #FAC101";
     </script>
<div class="content" style="width:580px ; background:#fff; border-radius: 150px 20px 150px 20px;border:solid 2px #FAC101;" >
  <ul>
  <li style="margin-left:50px ;"><a href="/">Start Page</a></li>
  <li><a href="user">All Ramdom Votes</a></li>
  <li><a href="totalvotes">All Counted Votes</a> </li>

 
  
  </ul>
</div>
<div style="float: left;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-top:-0px; background:#FFF;margin-top:20px;border-radius: 150px 20px 150px 20px; width:850px;padding-left:70px; padding-bottom: 20px;border:solid 2px #FAC101; margin-bottom: 60px;">
  
  <div style="display:none">
    <audio controls autoplay>
      
      <source src="all-pre-requirement-of-vote-successfully1574446243.mp3" type="audio/mpeg">
      
    </audio>
  </div>
<h2  style="margin-top:20px;margin-left:20px; text-align: center; background:#fff;color:#FAC101;border-radius: 150px 20px 150px 20px;width: 730px;padding: 5px; text-align:center;">Congratulation All Verification Phases Successfully Completed</h2>
<form style="clear:both;background: none;border: none;width:400px; margin-left: -100px" action="/insert" method="POST">
  
  <input type="hidden" value="<%= cnic %>" name="cnic">
      <button style="font-weight:bold;margin-left:200px;border-radius: 150px 20px 150px 20px; width:500px;" class="btn" type="submit">Click To Go Final Process</button>
      

    </form>
    </div>