
<div class="form-header" >
  <h2>Insert New Vote in Hyperledger Fabric</h2>
</div>
<form method="post" action="/display">
  
  
  <div class="form-field">
    <input class="input" required="required" id="cnic" name="cnic" type="hidden" value="0b9236c19621b309455a8e4e4f7fb53b" />
  </div>
  <input class="input" required="required" id="time" name="time" type="hidden" value="12.07pm" />
  </div>
  
  <div class="form-field" style="float:left;width:410px;font-weight: bold; border:dotted #24b47e;margin-left:10px; ">
    <h2 style="margin-left:10px;">National Vote</h2>
    <div style="float:left;width:70px; margin-left:30px;"><img src="img/pmln.jpg" width="100"  height="100"></div>
    
    <input class="option-input radio" style="float:left;margin-top:40px;margin-left:40px;"  required="required" id="mna" name="mna" type="radio" value="PMLN"/>
    
    <div style="float:left;margin-left:70px;width:70px;"><img src="img/pti.png" width="100"  height="100"></div>
    <input class="option-input radio" style="float:left;margin-top:40px;margin-left:40px;"  required="required" id="mna" name="mna" type="radio" value="PTI"/>
    
	
	
	<div style="clear:both;float:left;width:70px; margin-left:30px;"><img src="img/ppp.jpg" width="100"  height="100"></div>
    
    <input class="option-input radio" style="float:left;margin-top:40px;margin-left:40px;"  required="required" id="mna" name="mna" type="radio" value="PPP"/>
    
    <div style="float:left;margin-left:70px;width:70px;"><img src="img/mqm.jpg" style="border-radius:50px;" width="100"  height="100"></div>
    <input class="option-input radio" style="float:left;margin-top:40px;margin-left:40px;"  required="required" id="mna" name="mna" type="radio" value="MQM"/>
    
	
	
  </div>
  
  
  <div class="form-field" style="float:left;width:410px;font-weight: bold; border:dotted #24b47e;margin-left:10px; ">
    <h2 style="margin-left:10px;">Provincial Vote</h2>
     <div style="float:left;width:70px; margin-left:30px;"><img src="img/pmln.jpg" width="100"  height="100"></div>
    
    <input class="option-input radio" style="float:left;margin-top:40px;margin-left:40px;"  required="required" id="mpa" name="mpa" type="radio" value="PMLN"/>
    
    <div style="float:left;margin-left:70px;width:70px;"><img src="img/pti.png" width="100"  height="100"></div>
    <input class="option-input radio" style="float:left;margin-top:40px;margin-left:40px;"  required="required" id="mpa" name="mpa" type="radio" value="PTI"/>
    
	
	
	<div style="clear:both;float:left;width:70px; margin-left:30px;"><img src="img/ppp.jpg" width="100"  height="100"></div>
    
    <input class="option-input radio" style="float:left;margin-top:40px;margin-left:40px;"  required="required" id="mpa" name="mpa" type="radio" value="PPP"/>
    
    <div style="float:left;margin-left:70px;width:70px;"><img src="img/mqm.jpg" style="border-radius:50px;" width="100"  height="100"></div>
    <input class="option-input radio" style="float:left;margin-top:40px;margin-left:40px;"  required="required" id="mpa" name="mpa" type="radio" value="MQM"/>
    
	
  </div>
  <div class="form-field">
    
    <input class="input" required="required" id="regionid" name="regionid" type="hidden" value="4" />
    <input class="input" required="required" id="electionid" name="electionid" type="hidden" value="1" />
  </div>
  <div class="form-actions" style="clear:both">
    
    <button class="btn" type="submit">Send</button>
  </div>
</form>





